In [4]:
pd.read_csv("/Users/stevenzonneveld/Desktop/school/year1/Summer/data301/group35-project/data/raw/USA_cars_datasets_cleaned.csv")

                                                       USA_cars_datasets
NaN    price brand  year title_status  mileage  color              state
0.0    6300  toyota 2008 clean vehicle 274117.0 black         new jersey
1.0    2899  ford   2011 clean vehicle 190552.0 silver         tennessee
2.0    5350  dodge  2018 clean vehicle 39590.0  silver           georgia
3.0    25000 ford   2014 clean vehicle 64146.0  blue            virginia
...                                                                  ...
2494.0 7800  nissan 2019 clean vehicle 23609.0  red           california
2495.0 9200  nissan 2018 clean vehicle 34553.0  silver           florida
2496.0 9200  nissan 2018 clean vehicle 31594.0  silver           florida
2497.0 9200  nissan 2018 clean vehicle 32557.0  black            florida
2498.0 9200  nissan 2018 clean vehicle 31371.0  silver           florida

[2500 rows x 1 columns]